name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # force fetching full history for goreleaser changelog generation

      - uses: actions/setup-go@v5
        with:
          go-version: 1.24
          cache: true # keeps gobin full

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: release
        run: task release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
